@using MovieApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model Movie  
@* Model in kendisi Movie bilgisi*@

<div class="row">
    <div class="col-md-3">
        <!--Sol tarafı 3 e böldüm-->
        @*@Html.Partial("_menu",Model.Categories)*@
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <!--Ayırdığımız 9 lık bölmeye ise movie lerimizi yerleştirelim-->
    <div class="col-md-9">
        <!---Detay sayfası için <div class="card mb-3"> class ını dışarı yazarak padding değerini vermek istedim. -->
        <div class="card mb-3">

            <div class="card-body">
                <div class="row no-gutter">
                    <div class="col-md-4">
                        <img src="~/img/@Model.ImageUrl" alt="@Model.Description" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id">@Model.Name</a>
                        </h5>
                        <p class="card-text">
                            @Html.Raw(Model.Description)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>

                    </div>
                </div>
            </div>
            <!--Sol tarafta resim olmasını istiyorum-->
        </div>
    </div>
</div>
  
