@using MovieApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model IEnumerable<Movie>

<div class="row">
    <div class="col-md-3">
        <!--Sol tarafı 3 e böldüm-->
        @Html.Partial("_menu")
    </div>

    <div class="col-md-9">
        <!--Ayırdığımız 9 lık bölmeye ise movie lerimizi yerleştirelim-->
        @*@Html.Partial("_movies", Model)*@   
    <!-- Bu sayfada iki aşamalı bir model aktarımı mevcut-->
        <partial name="_movies" model="Model" />
    </div>
</div>